<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Калькулятор</h1>
  <select id="select_method" onchange="selectMethod(this)">
      <option value="get">GET</option>
      <option value="post">POST</option>
  </select>
  <br>
  <br>
  <script>
      function selectMethod(selectObject) {
          var value = selectObject.value;
          var form = document.getElementById("calc_form");
          if(value === "get")
          {
             form.setAttribute("method", "get");
           //  form.setAttribute("action", "getcalculate");
          }
          else
          {
              form.setAttribute("method", "post");
              //form.setAttribute("action", "postcalculate");
          }
      }
  </script>

  <form method="get" action="/calculate" id="calc_form">
      <div>
          <input type="text" name="number1">
          <select name="actions">
              <option value="+">+</option>
              <option value="-">-</option>
              <option value="*">*</option>
              <option value="/">/</option>
          </select>
          <input type="text" name="number2">
          <button type="submit">=</button>
          <div style="display: inline-block" th:text="${answer}"></div>
      </div>
  </form>
</body>
</html>